/* src/App.css
.primary-btn {
  background: #0ea5e9;
  color: #ffffff;
  padding: 12px 22px;
  border-radius: 999px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  color: #e5e7eb;
  padding: 12px 22px;
  border-radius: 999px;
  border: 1px solid #334155;
  font-size: 14px;
  cursor: pointer;
} */
